<form>
    <label for="url" class="form-element"><i class="fas fa-link"></i> Paste Your Link Below</label>
    <input type="url" name="url" id="url" placeholder="Paste Here" class="form-element">
    <div class="btn-div form-element">
        <button type="button" class="btn" id="sb-btn">Proceed</button>
        <button type="button" class="btn" id="adv-btn">Advanced</button>
    </div>
    <div class="form-element" style="font-size: 20px;">
        <i class="fas fa-exclamation-triangle" style="color:#ffcc00;"></i> Only Youtube Video downloading option is
        available for now.
    </div>
</form>