<nav>
    <label for="check" class="menubtn"><i class="fas fa-bars"></i></label>
    <input type="checkbox" id="check" hidden>
    <label class="logo">IFYdl</label>
    <ul>
        <li><a href="/" class="<% if (locals.path=="home") { %>active<% } %>"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/download/youtube" class="<% if (locals.path=="youtube") { %>active<% } %>"><i class="fab fa-youtube"></i> YouTube</a></li>
        <li><a href="/download/instagram" class="<% if (locals.path=="instagram") { %>active<% } %>"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="/download/facebook" class="<% if (locals.path=="facebook") { %>active<% } %>"><i class="fab fa-facebook"></i> FaceBook</a></li>
        <li><a href="/download/instadp" class="<% if (locals.path=="instadp") { %>active<% } %>"><i class="fas fa-user-circle"></i> InstaDp</a></li>
        <li><a href="/about" class="<% if (locals.path=="about") { %>active<% } %>"><i class="fas fa-address-card"></i> About</a></li>
    </ul>
</nav>