<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-md">
        <a class="navbar-brand nav-title" href="/">IFYdl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="flex-grow: unset;" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if (locals.path==="youtube") { %>active<% } %>" href="/download/youtube"><i
                                class="fab fa-youtube"></i> YouTube</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (locals.path==="instagram") { %>active<% } %>" href="/download/instagram"><i
                                class="fab fa-instagram"></i> Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (locals.path==="facebook") { %>active<% } %>"
                            href="/download/facebook"><i class="fab fa-facebook"></i> FaceBook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (locals.path==="instadp") { %>active<% } %>" href="/download/instadp"><i
                                class="fas fa-user-circle"></i> Instadp</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link <% if (locals.path==="about") { %>active<% } %>" href="/about"><i
                                class="fas fa-address-card"></i> about</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>