@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mochiy+Pop+P+One&family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  transition-duration: 0.3s;
}
.nav-title {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: bold;
}
footer {
  font-family: "Indie Flower", cursive;
}
